:root{

    /*      Theme colors        */
    --text-gray: #3f4954;
    --text-light : #686666da;
    --bg-color: #0f0f0f;
    --white: #ffffff;
    --midnight: #104f55;

    /* gradient color   */
    --sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);

    /*      theme font-family   */
    --Abel: 'Abel', cursive;
    --Anton: 'Anton', cursive;
    --Josefin : 'Josefin', cursive;
    --Lexend: 'Lexend', cursive;
    --Livvic : 'Livvic', cursive;
}




.navbar {
    padding: 1rem;
    position: relative;
    width: 100%;
    z-index: 9999;
}
.navbar-nav li {
    padding: 3px;
}

.nav-link {
    font-size: 1.2rem !important;

}
.nav-link li:hover {
    background-color: black;
}

.nav-item .nav-link:after {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 100%;
    height: 1px;
    transform: scaleX(0);
    transition: 0.5s;
    content: "";
    transform-origin: left;
    background-color: white;
}
.nav-item .nav-link:hover after {
    transform-origin: right;
    transform: scaleX(1);
}

.navbar-scroll {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255,255,255,0.7);
    padding: 0px 20px;
    transition: 0.5s;
    animation: scroll 0.6s 1;
}

.navbar-brand {
    text-transform: capitalize;
    font-size: 27px;
    color: black;
}

.container-fluid .navbar-brand .logo {
    width: 40%;
}

.btn {
    text-align: center;
    border-radius: .2px;
    background: var(--sky);
    color: black;
    margin: 0 .5rem;
}

.btn:hover {
    color: black;
    border: 1px solid black;
}

.img1 {
    display: block;
    width: 19%;
    margin-top: 5rem;
    text-align: center;
}


.text {
    text-align: center;
    margin: 1rem;
}

.button {
    text-align: center;
    border-radius: 10px;
    background: var(--sky);
    border: 0;
    padding: 1rem 2rem;
    margin: .1rem .2rem;
}

.button:hover {
    border: 1px solid black;
    border-radius: 10px;
    transform: translateY(-2px);
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
}

.txt {
    text-align: center;
    padding: 4rem;
}

.row{
    margin: 0rem -1rem;
    padding: 0rem -1rem;
    width: auto;
    margin-top: 3rem;
}



.row .low{
    display: inline-block;
    position: sticky;
    border-radius: 20px!important;
    border: 2px solid black;
}

.row .up{
    display: inline-block;
    position: sticky;
    border-radius: 20px!important;
    border: 2px solid black;
}

.button1 {
    background: transparent;
    color: black;
    padding: 1rem 1rem;
    border: 1px solid black;
    border-radius: 100px;
}

.button1:hover {
    background: var(--sky);
    color: black;
    border: 1px solid white;
}

.container {
    margin-top: 12%;
}

.single-content {
    width: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    transition: .3s;
    box-shadow: 10px 10px 10px rgba(230, 220, 220, 0.8);
}

.single-content {
    position: relative;
    justify-items: center;
    align-items: center;
    margin: 10% 10%;
    left: -3%;
    width: 300px;
    height: 350px;
    background: white;
    box-shadow: 0 10px 10px rgba(0,0,0,0.5);
}

.single-content .imgbx{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}

.single-content .imgbx img {
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}

.single-content:hover .imgbx img {
    opacity: 0;
}

.single-content .text-content {
    position: absolute;
    bottom: 20px;
    left: 10%;
    width: 80%;
    height: 60px;
    background: white;
    transition: 0.5s;
    overflow: hidden;
    padding: 1rem 1rem;
    box-sizing: border-box;
}

.single-content:hover .text-content {
    height: 100%;
    width: 100%;
    bottom: 0;
    left: 0;

}

.single-content .text-content h3 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.single-content .text-content p {
    margin: 10px 0 0;
    padding: 0;
    opacity: 0;
    line-height: 1.2em;
    transition: 0.5s;
    text-align: justify;
}

.single-content:hover .text-content p {
    opacity: 1;
    font-size: 20px;
    transition-delay: 0.5s;
}

.single-content:hover .text-content .button2 {
    background: var(--sky);
    color: black;
    margin: 9rem 0rem;
    padding: 1rem 1rem;
    border: 0px;
    border-radius: 10px;
    text-align: center;
    display: inline;
}

.single-content:hover .text-content .button2:hover {
    border: 1px solid black;
    background: transparent;
}

.container .row .col img{
    width: 100%;
    height: 500px;
}




.container-{
    margin: 0rem 1rem;
    position: relative;
}

.container- .row {
    margin: 3rem 3rem;
    margin-bottom: 3rem;
}

.container- .row .centerBlock2 .col_img {
    width: 110%;
    height: 130%;
    margin: 10rem -2rem;
    border: 5px solid black;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
}


.container- .row .centerBlock2 h2 {
    margin: 1rem;
    
}

.tab-content {
    
}


.service-icons {
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    color: #2fd09a;
    display: inline-block;
    position: relative;
  /* Adjust these values accordingly */
    margin: 0rem -2rem;
    top: 3rem;
}


.container- .row .centerBlock1 h6{
    margin: 1rem;
    display: inline-block;
}

/*-----------------------------------toggle------------------------------*/

/*.toggle { 
    position : relative ; 
    display : inline-block; 
    width : 100px; 
    height : 52px; 
    background-color: white; 
    border-radius: 30px; 
    border: 2px solid gray; 
} 
        
/* After slide changes */
/*.toggle:after { 
    content: ''; 
    position: absolute; 
    width: 48px; 
    height: 48px; 
    border-radius: 50%; 
    background-color: gray; 
    top: 1px;  
    left: 1px; 
    transition:  all 0.5s; 
} 
        
/* Toggle text */

        
/* Checkbox cheked effect */
/*.checkbox:checked + .toggle::after { 
    left : 49px;  
} 
        
/* Checkbox cheked toggle label bg color */
/*.checkbox:checked + .toggle { 
    background-color: rgb(166, 236, 245); 
} 
        
/* Checkbox vanished */
.checkbox {  
    display : none; 
} 


.post-content {
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    overflow: hidden;
    padding: 25px 35px;
    position: relative;
    transition: all 0.5s ease 0s;
    z-index: 9;
    margin-top: 20px;
}

.post--content {
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    overflow: hidden;
    padding: 25px 35px;
    position: relative;
    transition: all 0.5s ease 0s;
    z-index: 9;
    margin-top: 20px;
}

/*---------------------------------card-----------------------------------*/
.service-area {
    margin-top: 10px;
}

.service-area p {
    margin-bottom: -5px;
}


.section-title {
    margin: 5rem 5rem;
    text-align: center;
    text-decoration: none;
}

.section-title h2 {
    font-size: 2.5rem;
    text-decoration: none;
}

.service-wrap {
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    overflow: hidden;
    padding: 25px 35px;
    position: relative;
    transition: all 0.5s ease 0s;
    z-index: 9;
    margin: 1rem;
}

.service-wrap::before, .service-wrap::after {
    content: "";
    height: 300%;
    position: absolute;
    transform: rotate(50deg);
    width: 120%;
    z-index: -9;
    transition: all 0.5s;
    opacity: 0;
    background: rgb(1, 51, 58);
}

.service-wrap::before {
    top: -107px;
    left: 100%;
}

.service-wrap:hover:before {
    left: -17%;
    opacity: 1;
}

.service-wrap::after {
    right: 50%;
    bottom: -57px;
}

.service-wrap:hover:after {
    top: -377px;
    opacity: 1;
}

.service-wrap:hover {
   color: white;
}

.service-wrap h6 {
    color: black;
    text-decoration: none;
}

.service-wrap p {
    color: black;
    text-decoration: none;
}

.service-wrap:hover h6 {
    color: white;
}

.service-wrap:hover h6:after {
    background-color: white;
}

.service-wrap:hover a p {
    color: white;
    text-decoration: none;
}

.service-wrap:hover p:after {
    background-color: white;
    text-decoration: none;
}

.service-icon i {
    font-size: 36px;
    margin-bottom: 20px;
    transition: all 0.5s;
    text-decoration: none;
    color: black;
}

.service-wrap:hover .service-icon i {
    transform: rotate(360deg);
    color: white;
}

.service-wrap h6 {
    padding-bottom: 15px;
    position: relative;
}












@media (max-width: 992px) {

}

@media (max-width: 510px) {

}

@media (max-width: 768px) {

}
@media (max-width: 576px) {

}
